body {
    background-color: black;
    color: white;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    
}



h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2vw;
}

p {
    color: rgb(185, 155, 155);
    font-size: 2vw;
}

a {
    color: rgb(26, 165, 26);
}

.camp {
    width: 50%;
}

.footer {
    text-align: right;
  } 